<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <form action="/api/login" method="POST" >
        <p>Ingrese su Usuario</p>
        <input type="text" name="username" id="username" placeholder="Ingrese su username">
        <input type="text" name="password" id="password" placeholder="Ingrese su password">
        <input type="submit" name="submitLogin" id="submitLogin" value="Enviar">        
    </form>
    <button onclick="location.href='/api/register'">Ir a registro</button>
</body>
</html>